<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.library.manage.dao.ReaderInfoDao" >

    <select id="queryReader" parameterType="java.util.Map" resultType="com.library.manage.bean.ReaderInfoBean">
        select
        ri.ID as id,
        ri.READER_NAME as readerName,
        ri.READER_TYPE as readerType,
        ri.READER_AGE as readerAge,
        ri.READER_SEX as readerSex
        from readerinfo ri
        where ri.STATUS != 'deleted'
        <if test="id != null">
            and ri.ID = #{id,jdbcType=BIGINT}
        </if>
        <if test="readerName != null and readerName !=''">
            and ri.READER_NAME = #{readerName,jdbcType=VARCHAR}
        </if>
        <if test="readerType != null and readerType !=''">
            and ri.READER_TYPE = #{readerType,jdbcType=VARCHAR}
        </if>

        <if test="readerAge != null and readerAge !=''">
            and ri.READER_AGE = #{readerAge,jdbcType=BIGINT}
        </if>
        <if test="readerSex != null and readerSex !=''">
            and ri.READER_SEX = #{readerSex,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null">
            and ri.CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime != null">
            and ri.UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        order by ri.UPDATE_TIME desc
    </select>

    <insert id="createReader" parameterType="com.library.manage.bean.ReaderInfoBean">
        insert into readerinfo (
        <trim suffixOverrides=",">
            <if test="id !=null">
                ID,
            </if>
            <if test="readerName !=null">
                READER_NAME,
            </if>
            <if test="readerAge !=null and readerAge !=''">
                READER_AGE,
            </if>
            <if test="readerSex !=null and readerSex !=''">
                READER_SEX,
            </if>
            <if test="readerPhone !=null and readerPhone !=''">
                READER_PHONE,
            </if>
            <if test="descriptive !=null and descriptive !=''">
                DESCRIPTIVE,
            </if>
            <if test="status !=null and status !=''">
                STATUS,
            </if>
            <if test="createTime !=null">
                CREATE_TIME,
            </if>
            <if test="updateTime !=null">
                UPDATE_TIME,
            </if>
        </trim>
        ) values(
        <trim suffixOverrides=",">
            <if test="id !=null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="readerName !=null">
                #{readerName,jdbcType=VARCHAR},
            </if>
            <if test="readerAge !=null and readerAge !=''">
                #{readerAge,jdbcType=VARCHAR},
            </if>
            <if test="readerSex !=null and readerSex !=''">
                #{readerSex,jdbcType=VARCHAR},
            </if>
            <if test="readerPhone !=null and readerPhone !=''">
                #{readerPhone,jdbcType=VARCHAR},
            </if>
            <if test="descriptive !=null and descriptive !=''">
                #{descriptive,jdbcType=VARCHAR},
            </if>
            <if test="status !=null and status !=''">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime !=null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime !=null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
        )
    </insert>

    <update id="modifyReader" parameterType="java.util.Map">
        update readerinfo
        <set >
            <if test="readerName != null and readerName != ''" >
                READER_NAME = #{readerName,jdbcType=VARCHAR},
            </if>
            <if test="readerType != null and readerType != ''" >
                READER_TYPE = #{readerType,jdbcType=VARCHAR},
            </if>
            <if test="readerPhone != null and readerPhone != ''" >
                READER_PHONE = #{readerType,jdbcType=VARCHAR},
            </if>
            <if test="descriptive != null and descriptive != ''" >
                DESCRIPTIVE = #{descriptive,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null " >
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>

    <update id="deleteReader" parameterType="java.util.Map">
        update readerinfo
        <set >
            STATUS = #{status},
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>