<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.library.manage.dao.RoleInfoDao" >

    <select id="queryRole" parameterType="java.util.Map" resultType="com.library.manage.bean.RoleInfoBean">
        select
        rin.ID as id,
        rin.ROLE_ID as roleId,
        rin.ROLE_NAME as roleName,
        rin.CREATE_TIME as createTime,
        rin.UPDATE_TIME as updateTime
        from roleinfo rin
        where rin.STATUS != 'deleted'
        <if test="id != null and id!='' ">
            and rin.ID LIKE concat(concat('%',#{id,jdbcType=BIGINT}),'%')
        </if>
        <if test="roleId != null and roleId !=''">
            and rin.ROLE_ID LIKE concat(concat('%',#{roleId,jdbcType=VARCHAR}),'%')
        </if>
        <if test="roleName != null and roleName !=''">
            and rin.ROLE_NAME LIKE concat(concat('%',#{roleName,jdbcType=VARCHAR}),'%')
        </if>
        <if test="createTime != null">
            and rin.CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime != null">
            and rin.UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        order by rin.UPDATE_TIME desc
    </select>

    <insert id="createRole" parameterType="com.library.manage.bean.RoleInfoBean">
        insert into roleinfo (
        <trim suffixOverrides=",">
            <if test="id !=null">
                ID,
            </if>
            <if test="roleId !=null and roleId !=''">
                ROLE_ID,
            </if>
            <if test="roleName !=null and roleName !=''">
                ROLE_NAME,
            </if>
            <if test="status !=null and status !=''">
                STATUS,
            </if>
            <if test="createTime !=null">
                CREATE_TIME,
            </if>
            <if test="updateTime !=null">
                UPDATE_TIME,
            </if>
        </trim>
        ) values(
        <trim suffixOverrides=",">
            <if test="id !=null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="roleId !=null and roleId!=''">
                #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="roleName !=null and roleName !=''">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="status !=null and status !=''">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime !=null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime !=null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
        )
    </insert>

    <update id="modifyRole" parameterType="java.util.Map">
        update roleinfo
        <set >
            <if test="roleName != null and roleName != ''" >
                ROLE_NAME = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null " >
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>

    <update id=" deleteRole" parameterType="java.util.Map">
        update roleinfo
        <set >
            STATUS = #{status},
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>

